.CalendarMonthGrid__vertical_scrollable {
  overflow-y: hidden;
}

.DayPicker_transitionContainer__verticalScrollable {
  padding-bottom: 172px;
}

.CalendarMonth {
  padding-bottom: 10px;
}

.DayPicker_weekHeader {
  top: 58px;
}

.CalendarMonthGrid__vertical_scrollable {
  overflow: hidden;
}

@media screen and (max-width: 567px) {
  .DayPicker__withBorder {
    box-shadow: none;
  }
  .DayPicker_weekHeader {
    top: 0;
  }
}
